#overlay_2
{
    background-color: black;
    opacity: 0.6;
    z-index: 1005;
    position: fixed;
    width: 100%;
    height: 100vh;
    inset: 0;
}

#close_button_rename
{
    position: absolute;
    right: 2%;
    display: inline-block;
    cursor: pointer;
}




